.product-form {
	display: flex;
	flex-direction: column;
	width: 25rem;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
	border: 30px solid transparent;
	border-image: url("./css_backgrounds/border-frame.jpg") 50;
	background-color: tan;
}
.product-form .form-items {
	display: flex;

	justify-content: right;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
