.cart-page {
	margin-top: 3rem;
}
.cart-main {
	display: flex;
	width: fit-content;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	border: 30px solid transparent;
	border-image: url("./css_backgrounds/border-frame.jpg") 50;
	background-color: tan;
}
.cart-items {
	border: 2px solid red;
	width: 600px;
	height: 500px;
}
.cart-checkout {
	border: 2px solid red;
	width: 600px;
	height: 500px;
}
.coupon-form {
	display: flex;
	justify-content: center;
	align-content: center;
}
