.cart-page {
	margin-top: 3rem;
}
.cart-main {
	display: flex;
	width: fit-content;
	height: fit-content;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	border: 30px solid transparent;
	border-image: url("./css_backgrounds/border-frame.jpg") 50;
	background-color: tan;
}
.cart-items {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	width: 600px;
	height: fit-content;
}
.cart-checkout {
	margin-top: 1rem;
	padding-bottom: 1rem;
	/*border: 2px solid red;*/
	width: 600px;
	height: fit-content;
}
.coupon-form {
	display: flex;
	justify-content: center;
	align-content: center;
}
